<div class="container mt-4">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<img src="https://maboite.files.wordpress.com/2017/04/rumeur-ragot-meduse1.jpg?w=640" alt="gossip rand">
				</div>
				<h5 class="user-name"><%= @author.first_name %></h5>
				<h6 class="user-email"><%= @author.email %></h6>
			</div>
			<h6 class="about text-warning">
				<p><%= @author.description %></p>
			</h6>
			<h6 class="btn btn-outline-warning align-center">
			<%= link_to 'Ville', city_path(City.find(@author.city.id)) %></h6>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Détails du profil</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="FirstName">Prénom</label>
					<input type="text" class="form-control" id="FirstName" placeholder="<%= @author.first_name %>">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="LastName">Nom</label>
					<input type="text" class="form-control" id="LastName" placeholder="<%= @author.last_name %>">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="age">Age</label>
					<input type="text" class="form-control" id="age" placeholder="<%= @author.age %>">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="website">Email</label>
					<input type="url" class="form-control" id="eMail" placeholder="<%= @author.email %>">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="website">Ville</label>
					<input type="url" class="form-control" id="city" placeholder="<%= @author.city.name %>">
				</div>
			</div>
		</div>
    <br>
	</div>
</div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3">
<div class="card text-center">
	<h4 class="mb-2 mt-2 text-primary text-center">Ses potins</h4>
	<div class="card-body">
		<div class="row gutters">
  	<% @gossips.each do |gossip|%>
  	<div class="card border-info my-2 mx-3 border-radius rounded" style="width: 18rem;">
			<div class="card-body">
					<h5 class="card-title"><%= gossip.title.capitalize %></h5>
						<p class="card-text"><%= gossip.content %></p>
						<p class="btn btn-outline-warning"><%= link_to 'Détails du potin', gossip_path(gossip.id) %>
			</div>
  	</div>
  </p>
  <% end %>
  </div></div>
</div>
</div>
</div>
</div>
</div>