<!DOCTYPE html>
<html>
  <head>
    <title>TGP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <%= link_to "The Gossip Project", home_index_path , class: "nav-link navbar-brand" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
     <%= link_to "Accueil", home_index_path , class: "nav-link" %>
    <li class="nav-item">
   <%= link_to "Equipe", team_index_path , class: "nav-link"  %>
  </li>
  </li>
  <li class="nav-item">
   <%= link_to "Nous contacter", contact_index_path , class: "nav-link" %>
  </li>
</ul>
</div>
</nav>

<%= yield %>

  </body>
</html>
